/* Style général du body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Conteneur du menu */
nav {
    background-color: #2c3e50;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Liste du menu */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Style des éléments de la liste */
nav ul li {
    margin: 0 15px;
}

/* Liens du menu */
nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Effet au survol */
nav ul li a:hover {
    background-color: #34495e;
    color: #fff;
}

/* Style actif (pour la page courante) */
nav ul li a.active {
    background-color: #e74c3c;
    color: white;
}

/* Ajout de marge en haut pour le contenu */
main {
    margin-top: 70px; /* Ajuster cette valeur en fonction de la hauteur du menu */
    padding: 20px;
    text-align: center;
}

/* Ajustement sur mobile */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        margin-bottom: 1px;
    }
}

.home_presentation{
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 60vh;
    justify-content: center;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}

.lancer_partie{ /* bouton pour lancer une partie dans jouer_en_ligne*/
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.lancer_partie:hover{
    background-color: white;
}

.selected{
    background-color: #7289E8;
    color: white;
}

div#numeros{
    display: grid;
    align-content: center;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

button.numero{
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right:0px;
    margin-left: 50px;
    margin-right: 50px;
}


button.etoile{
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right:15px;
        margin-left: 25px;
        margin-right: 25px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }
    
    table, th, td {
        border: 1px solid #ddd;
    }
    
    th, td {
        padding: 10px;
        text-align: center;
    }
    
    th {
        background-color: #f4f4f4;
        color: black;
    }
    
    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    tbody tr:nth-child(odd) {
        background-color: #fff;
    }
    
    thead {
        background-color: #007BFF;
        color: white;
    }
    